
#section2{
    background-image: url(https://scontent-bom1-1.xx.fbcdn.net/v/t1.6435-9/106422191_2326753324288001_7981091147341139097_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=973b4a&_nc_ohc=gCf9kfanN7gAX9S-OmV&_nc_ht=scontent-bom1-1.xx&oh=9ed3762e98ede2f54b0703e9294af8b7&oe=609D8AB6);
    background-repeat: no-repeat;
    background-size:cover;  
text-align: center;
padding: 8% 15%;
background-color: black;
}

#footersection{
    text-align: center;
 padding:  5% 0;
  background-color: rgb(255, 255, 255);
}
h2{
    color: white;
    font-size: 3em;
}
.para1{
    color: blanchedalmond;
    font-size: 1.25em;
}
.navbar-brand{
    font-size: 2em;
}
.container2{
    margin: 6.5% auto;
}
.container3{
    background-color: rgb(247, 155, 122);
    opacity: 0.8;
    color: black;
    text-align: center;
    margin: 0 auto;
    padding: 4% 10%;
}
.fa{
font-size: 1.5em;
}

.social{
    color: black;
    font-size: 0.75em;
   
}
.copyright{
    padding: 15px 0 0 0;
}
@media screen and (max-width:900px) {
    h2{
        color: white;
        font-size: 2.5em;
    }
    #footersection{
        text-align: center;
     padding-top:  5% ;
      background-color: rgb(255, 255, 255);
    }
    .navbar-brand{
        font-size: 1.5em;
    }
      .container3{
        background-color: rgb(247, 155, 122);
        opacity: 0.8;
        color: black;
        text-align: center;
        margin: 0 auto;
        padding: 4% 10%;
    }
}